.post {
  width: 450px;
  border: 1px solid #000;
  margin: 10px 25px;
  padding: 20px;
}

.post__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.post__desc {
  font-size: 16px;
}

.post__likes {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

